:root {
    --bs-primary: #f7b161;
    --bs-accent: #f05646;
    --bs-accent-hover: #c52f1f;
    --bs-black: #221e1d;
}
a, .nav-link {
    color:var(--bs-accent);
}
a:hover, .nav-link:hover, a:focus, .nav-link:focus {
    color:#fff;
}

h2 {
    border-left: var(--bs-accent) 3px solid;
    padding-left: 10px;
}
/*LOGO*/
.logo {
    width: 140px;
}
.cls-1 {
    fill: var(--bs-accent);
}

.cls-2 {
    fill: var(--bs-primary);
}

.cls-3 {
    fill: none;
    stroke: var(--bs-primary);
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 6px;
}

.ranquing {
    margin-top: -4.5rem;
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0))
}

.btn-primary {
    background-color: var(--bs-accent);
    border-color: var(--bs-accent);
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: var(--bs-accent-hover);
    border-color: var(--bs-accent-hover);
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.item-horario-cine {
    cursor: pointer;
}

.bg-primary {
    background-color: var(--bs-accent) !important
}

.ticket {
    margin-top: 20px;
    display: flex;
    border: var(--bs-accent) solid 1px;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.ticket img {
    height: auto;
}

.ticket .card-body {
    border-right: var(--bs-accent) dashed 1px;
}

.comentario {
    padding: 20px;
}

.comentario .coment-text {
    background: rgba(255,255,255,0.1);
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
}

.peliculas {
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(255,255,255,0.1) !important;
    transition: all ease .25s;
}

.peliculas:hover {
    transform: translate(0,-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}