{% extends 'layout.html' %}
{% block title %}Registrar{% endblock %}
{% block content %}
<section class="my-4">
    <div class="container">
        <h3>Agregar pelicula</h3>
        <form action="{{url_for('agregar_peliculas')}}" method="post">
            <div class="row">
                <div class="col-md-4">
                    {{form.csrf_token}}
                    {{form.nombre.label(class_='form-label')}}
                    {{form.nombre(class_='form-control')}}
                </div>
                
                <div class="col-md-4">
                    {{form.csrf_token}}
                    {{form.cartelera.label(class_='form-label')}}
                    {{form.cartelera(class_='form-control')}}
                </div>
                <div class="col-md-4">
                    {{form.csrf_token}}
                    {{form.image.label(class_='form-label')}}
                    {{form.image(class_='form-control')}}
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    {{form.csrf_token}}
                    {{form.sinopsis.label(class_='form-label')}}
                    {{form.sinopsis(class_='form-control')}}
                </div>
            </div>
            
            <input type="submit" value="Agregar pelicula" class="btn btn-primary mt-4">
        </form>
    </div>
</section>
{% endblock %}