{% extends 'layout.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<section class="my-4">
    <div class="container">
        <h3><a href="#"></a><span class="d-inline-block mx-2"></span>Dashboard Administrativo</h3>
    </div>

    <div class="container">

        <figure class="figure">
            <img src="{{url_for('static',filename='img/avatar.png')}}" class="figure-img img-fluid rounded"
                alt="avatar image" width="150" height="150">
        </figure>

        <h4> Administrar Peliculas </h4>

        <form class="row">
            <!-- <div class="col-md-4">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
            </div> -->
            <!-- <div class="col-md-4">
                <select class="form-select" aria-label="form-select-sm example">
                    <option selected>Todas las categorías</option>
                    <option value="1">Terror</option>
                    <option value="2">Acción</option>
                    <option value="3">Ficción</option>
                    <option value="4">Caricatura</option>
                    <option value="5">Drama</option>
                </select>
            </div> -->
            <div class="text-end">
                <!--  <button type="button" class="btn btn-danger">Buscar</button> -->
                <a href="/agregarPelicula/" type="button" class="btn btn-outline-primary"><i
                        class="bi bi-plus-circle"></i> Agregar Pelicula</a>
            </div>
        </form>

        <!--<h4> Resultados </h4> -->

        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Sinopsis</th>
                    <th style="width: 120px">En Cartelera</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for pelicula in pelis %}
                <tr>
                    <th>
                        <img src="{{url_for('static',filename='img/')}}{{pelicula[4]}}" alt="pelicula {{pelicula[1]}}"
                            class="item-img-table">
                    </th>
                    <th>{{pelicula[0]}}</th>
                    <td>{{pelicula[1]}}</td>
                    <td>{{pelicula[2]}}</td>
                    <td>{{pelicula[3]}}</td>
                    <td><a href="../eliminarPelicula/{{pelicula[0]}}" class="btn btn-primary btn-sm"><i
                                class="bi bi-trash-fill"></i> Eliminar
                            Pelicula</a> <a href="../detalleDePelicula/{{pelicula[0]}}"
                            class="btn btn-secondary btn-sm mt-2"><i class="bi bi-eye-fill"></i> Ver Pelicula</a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <br>
    <br>
    <br>
    <br>


    <div class="container">
        <h4> Administrar Usuarios</h4>
        <!--    <form class="row">
            <div class="col-md-4">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-danger">Buscar</button>
                <button type="button" class="btn btn-warning"><i class="bi bi-plus-circle"></i>Agregar usuario</button>
            </div>
        </form>
        <h4> Resultados </h4> -->

        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Acciones</th>

                </tr>
            </thead>
            <tbody>
                {% for usuarios in user %}
                <tr>
                    <th scope="row">{{usuarios[0]}}</th>
                    <td>{{usuarios[1]}}</td>
                    <td>{{usuarios[3]}}</td>
                    <td>{{usuarios[5]}}</td>
                    <td><a href="../eliminarUsuario/{{usuarios[0]}}" class="btn btn-primary btn-sm"><i
                                class="bi bi-trash-fill"></i> Eliminar</a> </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}