{% extends 'layout.html' %}
{% block title %}perfil de usuario{% endblock %}
{% block content %}
<section class="my-4">
    <div class="container">
        <h2><a href="javascript:history.back()"><i class="bi bi-arrow-left"></i></a><span
                class="d-inline-block mx-2"></span>Detalle de la pelicula</h2>
        <div class="row my-4">
            <div class="col-md-3">
                <img src="{{url_for('static',filename='img/')}}{{pelis[4]}}" alt="40%" class="img-fluid">
            </div>
            <div class="col-md-9">
                <h3>{{pelis[1]}}</h3>
              
                <p>{{pelis[2]}}</p>
                <a href="/detalleDeLaFuncion/{{pelis[0]}}" class="btn btn-primary btn-big">Comprar boleto</a>
            </div>
        </div>
</section>

{% endblock %}