{% extends 'layout.html' %}
{% block title %}Detalle de la Pelicula{% endblock %}
{% block content %}
<section class="my-4">
    <div class="container">
        <h2><a href="javascript:history.back()"><i class="bi bi-arrow-left"></i></a><span
                class="d-inline-block mx-2"></span>Detalle de la pelicula</h2>
        <div class="row my-4">
            <div class="col-md-3">
                <img src="{{url_for('static',filename='img/')}}{{pelis[4]}}" alt="40%" class="img-fluid">
                <br>
                <br>
                <a href="/detalleDeLaFuncion/{{pelis[0]}}" class="btn btn-primary btn-big">Comprar boleto</a>
            </div>

            <div class="col-md-9">
                <h3>{{pelis[1]}}</h3>
                <p>{{pelis[2]}}</p>
                <h4> Comentarios </h4>
                {% if com|length == 0 %}
                <p>No hay comentarios sobre esta película.</p>
                {% endif %}
                {% for comentario in com %}
                <div class="comentario">
                    <p class="mb-0">Comentario de <b>{{comentario[5]}}</b></p>
                    <p class="coment-text"><b>Comentarios:</b><br />
                        {{comentario[3]}}</p>
                    <div class="text-light">
                        {% for count in range(comentario[4]) %}
                        <i class="bi bi-star-fill"></i>
                        {% endfor %}
                        {% for count in range(comentario[4],5) %}
                        <i class="bi bi-star"></i>
                        {% endfor %}
                    </div>
                    <div class="text-end">
                        {% if user_tipo == "Admin" %}
                        <a href="../eliminarComentario/{{comentario[0]}}">Eliminar</a>
                        {% endif %}
                    </div>
                </div>

                {% endfor %}

                <div class="col-md-4">
                    <!--  <button type="button" class="btn btn-danger">Buscar</button> -->
                    <a href="/agregarComentario/{{pelis[0]}}" type="button" class="btn btn-warning"><i
                            class="bi bi-chat-right-text-fill"></i> Agregar Comentario</a>
                </div>

                {% if user_tipo == "Admin" %}


                <h4 class="mt-4"> Tickets </h4>
                {% if tickets|length == 0 %}
                <p>No hay tickets comprados en el momento.</p>
                {% endif %}
                <div class="row">
                    {% for ticket in tickets %}
                    <div class="col-md-6">
                        <div class="ticket">
                            <img src="../static/img/ticket.png" alt="image ticket" class="mx-3">
                            <div class="card-body">
                                <p class="m-0">Pelicula:
                                    <span class="h5">{{ticket[5]}}</span>
                                </p>
                                <p class="m-0">Horario: <b>{{ticket[3]}}</b></p>
                            </div>
                            <div class="text-center mx-2">
                                <p class="mt-3">Cantidad: <br />
                                    <b class="h2">{{ticket[4]}}</b>
                                </p>
                            </div>
                        </div>
                        <a href="../eliminarTicket/{{ticket[0]}}">Eliminar</a>
                    </div>
                    {% endfor %}
                </div>



                {% endif %}



            </div>
        </div>
</section>

{% endblock %}