<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <title>
        Andino - {% block title%}{% endblock %}
    </title>
</head>

<body>
    <main class="bg-dark text-light">

        <header class="border-bottom">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <h1 class="navbar-brand">
                        <img src="{{url_for('static',filename='img/SVG/logo.svg')}}" class="logo" />
                    </h1>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link {% if page == 'inicio' %}active{% endif %}" aria-current="page"
                                    href="{{url_for('index')}}">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if page == 'peliculas' %}active{% endif %}"
                                    href="{{url_for('todas_peliculas')}}">Peliculas</a>
                            </li>
                            <!--  <li class="nav-item">
                                <a class="nav-link" href="#">Confitería</a>
                            </li> -->

                            {% if user_tipo == "Usuario" %}

                            <li class="nav-item">
                                <a class="nav-link {% if page == 'login' %}active{% endif %}"
                                    href="../perfilUsuario/{{user_id}}">Perfil</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link {% if page == 'login' %}active{% endif %}" href="../logout">Cerrar
                                    Sesión</a>
                            </li>

                            {% elif user_tipo == "Admin" or user_tipo == "Superadmin" %}

                            <li class="nav-item">
                                <a class="nav-link {% if page == 'login' %}active{% endif %}"
                                    href="{{url_for('dashboard')}}">Dashboard</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link {% if page == 'login' %}active{% endif %}" href="../logout">Cerrar
                                    Sesión</a>

                            {% else %}

                            <li class="nav-item">
                                <a class="nav-link {% if page == 'login' %}active{% endif %}"
                                    href="{{url_for('login')}}">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if page == 'registrar' %}active{% endif %}"
                                    href="{{url_for('registrar')}}">Regístrate</a>
                            </li>

                            {% endif %}

                        </ul>
                        <!-- <form class="d-flex m-0">
                            <input class="form-control me-2" type="search" placeholder="Buscar peliculas"
                                aria-label="Search">
                            <button class="btn btn-outline-light" type="submit"><i class="bi bi-search"></i></button>
                        </form> -->
                    </div>
                </div>
            </nav>

            {% for message in get_flashed_messages()%}
            
            <div class="alert alert-dark alert-dismissible fade show" role="alert">

                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                {{message}}
            </div>
            {% endfor %}

            
           
           
        </header>

        
        {% block content %}

       
        {% endblock %}


        <footer class="bd-footer py-2 mt-4 bg-dark border-top">
            <div class="container py-2">
                <div class="row justify-content-between">
                    <div class="col-lg-4 mb-3">
                        <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/"
                            aria-label="Bootstrap">
                            <img src="{{url_for('static',filename='img/SVG/logo.svg')}}" class="logo" />
                        </a>
                        <ul class="list-unstyled small text-muted">
                            <li class="mb-2">Andinos CineColombia SAS., es una empresa exhibidora de cine que cuenta con
                                trece multiplex en Medellín y el Valle de Aburrá, el Oriente cercano, el Urabá
                                Antioqueño, y Sincelejo.
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 mb-3">
                        <h5>Contactenos</h5>
                        <ul class="list-unstyled">
                            <li class="mb-2"><i class="bi bi-geo-alt-fill"></i> Calle 45 # 56 - 54</li>
                            <li class="mb-2"><i class="bi bi-telephone-fill"></i> Tel: (060) 456 67 45</li>
                            <li class="mb-2"><a href="#">Términos y condiciones</a> | <a href="#">Politicas
                                    de
                                    privacidad</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="{{url_for('static',filename='js/bootstrap.bundle.js')}}"></script>
</body>

</html>