{% extends 'layout.html' %}
{% block title %}peliculas{% endblock %}
{% block content %}

<section class="my-4">
    <div class="container">
        <h2><a href="javascript:history.back()" class="bi bi-arrow-left"></a> Todas las películas </h2>
    </div>
</section>


<section class="my-4">
    <div class="container">
        <div class="row">
            {% for peliculas in pelis %}
            {% if peliculas[3] == 1 %}
            <div class="col-md-3">
                <a href="/detalleDePelicula/{{peliculas[0]}}" class="text-decoration-none">
                    <div class="card bg-dark text-light border-0 peliculas">
                        <img src="{{url_for('static',filename='img/')}}{{peliculas[4]}}" class="card-img-top" alt="...">


                        <div class="card-body">
                            <h5 class="card-title">{{peliculas[1]}}</h5>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}